.grid_container {
    margin: 0;

  display: grid;
  grid-auto-flow: row;
  width: 600px;
  height: 700px;
  grid-template-areas:
    "a a a a a a"
    "b b b b b b"
    "c . . . . d"
    "e f f f f d"
    "g f f f f d";
  grid-template-rows: 20% 40% 10% 15% 15%;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
}

.grid_a {
  grid-area: a;
  border: 3px solid yellow;
  /* background-color: red; */
}

.grid_b {
  grid-area: b;
}

.grid_c {
  grid-area: c;
  border: solid 1px pink;
}

.grid_d {
  grid-area: d;
  padding: 6px;
  border: 1px solid purple;
}
.grid_e {
  grid-area: e;
  background-color: blue;
}
.grid_f {
  grid-area: f;
  /* background-color: green; */
}
.grid_g {
  grid-area: g;
}
